<%- include("./partials/header") %>

<div class="main w-full h-screen bg-zinc-300  flex flex-col  items-center">
    <%- include("./partials/nav") %>

    <form action="/post/createpost" method="post" class="w-1/2 mt-32 p-5">
        <h1  class="text-2xl font-semibold mb-2" >Create Post !</h1>
        <input type="text" name="title" id="" placeholder="title" class="w-full p-3 rounded-sm mb-2">
        <input type="text" name="image" id="" placeholder="ente image url" class="w-full p-3 rounded-sm mb-2">
        <textarea name="description" type="text" id="" placeholder="description"  class="w-full p-3 rounded-sm mb-2"></textarea>
        <br>
        <input type="submit" value="Create"  class="px-3 py-2 bg-red-300 rounded mr-20"> 
    </form>

</div>
<%- include("./partials/footer") %>