<%- include("./partials/header") %>
<%- include("./partials/nav") %>
<div class=" w-full max-h-screen bg-blue-100">
  <div class="relative img w-full  object-cover">
    <img src="https://imgs.search.brave.com/rN0suT-AKxKh7nxbgZdjvMZfJJ0B4IiFx587G-hCaN0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9uZWls/cGF0ZWwuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE3LzA5/L2Jsb2ctcG9zdC1p/bWFnZS1ndWlkZS5q/cGc" alt="" class="w-full object-cover  max-h-screen">
  </div>
  <div class="absolute top-12  h-screen backdrop-blur-sm opacity-0.2 w-1/2 ">
    <div class="font-semibold text-white mt-20">
      <h1 class="text-8xl ">Welcome Blogs website</h1>
      <a href="/allBlogs">
    <button class="px-6 py-2 text-2xl bg-blue-100 rounded-lg mt-10 ml-2 text-zinc-700">Explore More</button>

      </a>
    </div>
  </div>
 
   
  
  </div>
</div>
<%- include("./partials/footer") %>